:root {
  --total-guesses: 6;
  --word-len: 5;
}

html, body {
	height: 100%;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0px;
  background-color: #2c3e50;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

header {
    /* position: absolute; */
    background-color: #28A282;
    padding: 0.5rem 0;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    margin: 0px;
}

#game-container {
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#board-container {
  flex: 7;
  margin: 10px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.game-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}

.tile {
  margin: 0px 5px;
  width: 70px;
  height: 70px;
  background-color: gray;
}

#keyboard-container {
  margin: 10px;
  margin-top: 0px;
  background-color: lightgray;
  flex: 3;
}
